<div class="container">
  <div class="caja">
    <h1>{{'NEW-TWEET-HI'|translate}} {{name}}</h1>
    <p>
      <mat-form-field>
        <textarea
          matInput
          cdkTextareaAutosize
          placeholder="{{'NEW-TWEET-QUESTION'|translate}}"
          [(ngModel)]="miTweet.contentTweet"
        >
        </textarea>
      </mat-form-field>
    </p>

    <button mat-stroked-button (click)="addNewTweet()" class="enviar">
        {{'NEW-TWEET-BUTTON'|translate}}
    </button>
  </div>
</div>