<div class="container">
  <h3>{{message}}</h3>
  <div class="caja">
    <mat-form-field>
      <input matInput placeholder="{{'LOGIN-USERNAME'|translate}}" [(ngModel)]="username" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{'LOGIN-PASSWORD'|translate}}" [(ngModel)]="password" type="password"/>
    </mat-form-field>

    <button mat-stroked-button (click)="login()" class="enviar">
        {{'LOGIN-LOGIN'|translate}}
    </button>
    <button mat-stroked-button (click)="testPipes()" class="pipes">
      Los paips
  </button>
  </div>

</div>