<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>

    <mat-card-content>
      <span class="username">Id: {{ mySelectedTweet.userTweet.id }}</span>
      <br />
      <span class="user">{{ mySelectedTweet.userTweet.name }} </span>
      <br />
      <span class="username">@{{ mySelectedTweet.userTweet.username }} </span>
      <br />
      <span class="username">{{ mySelectedTweet.userTweet.email }} </span>
      <br />
      <span class="username">{{ mySelectedTweet.userTweet.cellphone }} </span>
    </mat-card-content>
  </mat-card>
</div>
