<div class="container">
  <div class="caja">
    <!-- <mat-form-field>
      <input matInput placeholder="Nombre" [(ngModel)]="miTweet.autor">
    </mat-form-field>
  
    <br> -->

    <mat-form-field>
      <input matInput placeholder="Usuario" [(ngModel)]="miTweet.username" />
    </mat-form-field>

    <br />

    <p>
      <mat-form-field>
        <textarea
          matInput
          cdkTextareaAutosize
          placeholder="¿Qué está pasando?"
          [(ngModel)]="miTweet.contentTweet"  
        >
        </textarea>
      </mat-form-field>
    </p>

    <button mat-stroked-button (click)="addNewTweet()" class="enviar">
      Twittear
    </button>
  </div>

  <div class="listado">
    <div *ngFor="let tweet of misTweets.slice().reverse(); let i = index">
      <app-detalle-tweet [mySelectedTweet]="tweet"></app-detalle-tweet>
    </div>
  </div>
</div>
