.caja {
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  width: 250px;
  padding: 10px;
  align-content: center;
  text-align: center;
  float: left;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.listado {
  width: 500px;
  margin: 10px;
  margin-left: 300px;
}

.user {
  width: 500px;
  margin: 10px;
  margin-left: 800px;
}

.area {
  height: 200px;
  resize: none;
}

.enviar {
  color: #ffffff;
  background-color: #008abe;
  border: 1px solid #008abe;
  border-radius: 20px;
}

.usuarioPerfil {
  margin-top: 240px;
  position: absolute;
  border-radius: 10px;
}
