<div class="container">
  <div
    class="usuarioPerfil"
    *ngIf="tweetClicked != null"
    (click)="tweetClicked = null"
  >
    <div>
      <app-detalle-usuario
        [mySelectedUser]="tweetClicked.userTweet"
      ></app-detalle-usuario>
    </div>
  </div>

  <div class="listado">
    <div *ngFor="let tweet of misTweets.slice().reverse(); let i = index">
      <app-detalle-tweet
        [mySelectedTweet]="tweet"
        (click)="clickTweet(tweet)"
      ></app-detalle-tweet>
    </div>
  </div>
</div>
